---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article class="post-content {{page.title}} clearfix">
    <div class="table-scroll">
    <table class="table table-hover">
      <colgroup>
        <col style="width:8%">
        <col style="width:27%">
        <col style="width:45%">
        <col style="width:20%">
      </colgroup>
      <thead class="thead-light">
        <tr>
          <th scope="col">Slot</th>
          <th scope="col">Session</th>
          <th scope="col">Readings</th>
          <th scope="col">Logistics</th>
        </tr>
      </thead>
      <tbody>
        {{ content }}
      </tbody>
    </table>
    </div>
  </article>

</div>
